@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL DARK SCROLLBARS */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #334155 #0f172a; /* thumb bg */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #0f172a; /* track */
}

*::-webkit-scrollbar-thumb {
  background: #334155; /* thumb */
  border-radius: 8px;
  border: 2px solid #0f172a;
}

*::-webkit-scrollbar-corner {
  background: #0f172a;
}
